body {
	text-align: center;
	font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
	color: #ababab;
	font-weight: 100;
	font-size: 16px;
	background-color: #fdfdfd;
}

h1 {
	color: #333;
}

a {
	text-decoration: none;
	color: #ababab;
}

p {
	font-size: 2em;
	line-height: 1.4;
}

#Layer_1 {
	width: 50vw;
	margin: 7em 0 1em;
}